<header class="container">
  <div class="logo">
    <a routerLink="products">
      <img class="picture" src="./assets/images/logo.webp" alt="Logotipo La Bonbonnière" />
      <img class="icon" src="./assets/images/icon.webp" alt="Caixa de Doces">
    </a>
  </div>
  <div class="search-bar">
    <app-search-bar></app-search-bar>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a routerLink="products">Produtos</a>
      </li>
      <li>
        <a routerLink="contact">Atendimento</a>
      </li>
      <li>
        <a routerLink="shopping-basket">Minha Cesta</a>
      </li>
    </ul>
  </nav>
</header>
