<footer class="footer">
  <div class="company">
    <div class="store">
      <h2>La Bonbonnière</h2>
      <p><a routerLink="products">Nossos Produtos</a></p>
      <p><a routerLink="aboutus">Quem somos?</a></p>
      <p><a routerLink="contact">Contato</a></p>
    </div>
    <nav class="social-media">
      <h2>Social</h2>
      <ul>
        <li>
          <a href="https://facebook.com" target="_blank">
            <em class="fa-brands fa-facebook"></em>
          </a>
        </li>
        <li>
          <a href="https://instagram.com" target="_blank">
            <em class="fa-brands fa-instagram"></em>
          </a>
        </li>
        <li>
          <a href="https://twitter.com" target="_blank">
            <em class="fa-brands fa-twitter"></em>
          </a>
        </li>
        <li>
          <a href="https://youtube.com" target="_blank">
            <em class="fa-brands fa-youtube"></em>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="copyright">
    <span>2022 &copy; Todos os direitos reservados</span>
  </div>
</footer>
