<section class="container">
  <h2>Nossa História</h2>
  <div class="content">
    <div class="picture">
      <img src="./assets/images/cake-cafe-owners-with-open-sign.webp" alt="Casal representando os proprietários da loja">
      <small>
        <a href="https://www.freepik.com/photos/cake-shop">
          Imagem criada por rawpixel.com - www.freepik.com
        </a>
      </small>
    </div>
    <div class="text">
      <p class="text-begin">Mussum Ipsum, cacilds vidis litro abertis. Suco de cevadiss deixa as pessoas
        mais interessantis. Praesent malesuada urna nisi, quis volutpat erat
        hendrerit non. Nam vulputate dapibus. Tá deprimidis, eu conheço uma cachacis
        que pode alegrar sua vidis. Leite de capivaris, leite de mula manquis sem
        cabeça.
      </p>
      <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e
        fermentis. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet.
        Sed non consequat odio.Quem manda na minha terra sou euzis! Praesent malesuada
        urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.
      </p>
      <p>Quem manda na minha terra sou euzis! Interessantiss quisso pudia ce receita de
        bolis, mais bolis eu num gostis.Quem num gosta di mé, boa gentis num é.
        Interagi no mé, cursus quis, vehicula ac nisi.
      </p>
      <p>
        Todo mundo vê os porris que eu tomo, mas ninguém vê os tombis que eu levo! In
        elementis mé pra quem é amistosis quis leo. Copo furadis é disculpa de bebadis,
        arcu quam euismod magna. Suco de cevadiss deixa as pessoas mais interessantis.
      </p>
    </div>
  </div>
</section>
